datasets==2.14.4
transformers==4.43.1
accelerate==0.34.2
sentencepiece==0.1.99
protobuf==3.20.3
matplotlib
scikit-learn
scipy
torch
langcodes==3.4.0
# for DamaL
concept-erasure==0.2.4
sacrebleu==2.4.1
